<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Assignment 4</title>
  <link rel="stylesheet" href="../css/style.css">
  <script src="../Js/script.js"></script>
</head>

<body>

    <header>
        <h1><img src="/img/update.png" alt="image alt text" height="400" widht="400"></h1>
    </header>
    <button id="button2" onclick="update()">UPDATE</button><br>
    <p>put the id that you want to update</p>
    <input type="number" id="input">
    <p>put the new username</p>
    <input type="text" id="name">
    <p id="result"></p>
    <a href="/index3.html">Select</a>
    <a href="/index4.html">Create</a>
    <a href="/index.html">Delete</a>

</body>
</html>