<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Assignment 2</title>
  <link rel="stylesheet" href="../css/style.css">
  <script src="../Js/script.js"></script>
</head>

<body>

    <header>
        <h1><img src="/img/square.png" alt="image alt text" height="400" widht="400"></h1>
        <h2 class="Title_first">Square the number !!</h2>
    </header>
    <button id="button">Calculate</button><br><br>
    <input type="number" id="input">
    <p id="result"></p>

</body>
</html>